//Image on top of the page container
.about-me-image-container {
  background-image: url(../images/about-me-image.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0rem;
	height: 30vh;
  width: 100%;
  @media only screen and (min-width: $break-s) {
    height: 49vh;
}
  @media only screen and (min-width: $break-m) {
    left: 12rem;
    width: calc(100% - 12rem);
}
  @media only screen and (min-width: $break-xl) {
    height: 50vh;
}
}

//Stylining of the text in the section
.about-me-text {
  padding: 1rem;
  line-height: 30px;
  @media only screen and (min-width: $break-m) {
    margin-left: 12rem;
    width: calc(100% - 14rem);
}
  @media only screen and (min-width: $break-xxl) {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
}

.about-me-links {
  color: $green-brand;
}

.about-me-links:hover {
  color: $green-brand;
  text-decoration: underline;
}
