.hero-image {
  background-image: url(/Courses/Netmatters/front_end/Portfolio/images/ny.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0rem;
  height: 100vh;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .hero-image {
    left: 12rem;
    width: calc(100% - 12rem);
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
}

h1 {
  font-size: 60px;
}

.projects-container {
  padding: 30px 19px;
}
@media only screen and (min-width: 768px) {
  .projects-container {
    position: relative;
    left: 12rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 12rem);
    padding: 30px 22px;
  }
}
@media only screen and (min-width: 1600px) {
  .projects-container {
    max-width: 1650px;
  }
}

.project {
  width: auto;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #bbbbbb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .project {
    width: 600px;
  }
}
@media only screen and (min-width: 992px) {
  .project {
    margin: 10px;
    height: 26rem;
    width: 347px;
  }
}
@media only screen and (min-width: 1200px) {
  .project {
    width: 451px;
  }
}
@media only screen and (min-width: 1600px) {
  .project {
    width: 427px;
  }
}

.img-container {
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .img-container {
    max-height: 19rem;
    margin-bottom: 0.8rem;
  }
}

.project-title {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  max-height: 300px;
}
@media only screen and (min-width: 768px) {
  .project-title {
    margin-left: 0.3rem;
    margin: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .project-title {
    margin-left: 1rem;
  }
}

.project-title, a {
  text-decoration: none;
}

.project-title:hover {
  text-decoration: underline;
  color: #6ec071;
}

.project-details {
  margin: 1rem;
  margin-bottom: -2rem;
  width: 7rem;
}
@media only screen and (min-width: 1200px) {
  .project-details {
    margin-left: 1rem;
  }
}

.project-details:hover {
  color: #4d4d4d;
}

.project-details a {
  color: black;
}

.photo-project {
  width: 100%;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .photo-project {
    width: 600px;
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .photo-project:hover {
    transform: scale(1.1);
    opacity: 0.7;
    transition: 0.4s;
  }
}

.more-info-btn {
  display: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  position: relative;
  top: -23px;
  float: right;
  margin-right: 1rem;
  border: none;
  padding: 10px 20px;
}
@media only screen and (min-width: 768px) {
  .more-info-btn {
    display: block;
    top: -5px;
    left: 0.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .more-info-btn {
    left: 0;
  }
}

.more-info-btn:hover {
  background-color: #3d8b40;
}

.text-holder-1 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}
@media only screen and (min-width: 768px) {
  .text-holder-1 {
    margin-left: 2rem;
    bottom: -55%;
    left: 10.5%;
  }
}
@media only screen and (min-width: 992px) {
  .text-holder-1 {
    left: 8%;
  }
}

.text-holder-2 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}
@media only screen and (min-width: 768px) {
  .text-holder-2 {
    margin-left: 2rem;
    bottom: -64%;
    left: 50.5%;
  }
}
@media only screen and (min-width: 992px) {
  .text-holder-2 {
    left: 36%;
  }
}

.text-holder-3 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}

.text-holder-4 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}

.text-holder-5 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}

.text-holder-6 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}

@media only screen and (min-width: 768px) {
  .contact {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 12rem);
    left: 12rem;
  }
}
@media only screen and (min-width: 1200px) {
  .contact {
    padding-left: 33px;
    padding-right: 33px;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1600px) {
  .contact {
    max-width: 1650px;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .contact-2 {
    width: 58rem;
    display: flex;
  }
}
@media only screen and (min-width: 1600px) {
  .contact-2 {
    margin-left: auto;
    margin-right: auto;
    width: 83rem;
  }
}

.contact h2 {
  margin-left: 8px;
  font-weight: 600;
}
@media only screen and (min-width: 992px) {
  .contact h2 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .contact h2 {
    margin-left: -10px;
  }
}

@media only screen and (min-width: 768px) {
  .get-in-touch {
    overflow: hidden;
  }
}
@media only screen and (min-width: 1200px) {
  .get-in-touch {
    max-width: 23rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 1600px) {
  .get-in-touch {
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .get-in-touch-2 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  .get-in-touch-2 {
    max-width: none;
    width: 716px;
  }
}
@media only screen and (min-width: 1200px) {
  .get-in-touch-2 {
    width: 350px;
  }
}

@media only screen and (min-width: 768px) {
  .contact-form-2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 610px;
  }
}
@media only screen and (min-width: 992px) {
  .contact-form-2 {
    width: 716px;
    max-width: none;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-form-2 {
    width: 548px;
  }
}
@media only screen and (min-width: 1600px) {
  .contact-form-2 {
    width: 932px;
  }
}

.contact-form {
  padding-left: 10px;
}
@media only screen and (min-width: 1200px) {
  .contact-form {
    max-width: 35rem;
  }
}
@media only screen and (min-width: 1600px) {
  .contact-form {
    width: 59rem;
    max-width: none;
  }
}

.contact-ul {
  list-style-type: none;
  margin-right: 19px;
  padding-left: 9px;
}
@media only screen and (min-width: 992px) {
  .contact-ul {
    padding-left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-ul {
    margin-left: -7px;
  }
}

.phone a {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .phone a {
    font-size: 1.3rem;
  }
}

.phone a:hover {
  color: #4CAF50;
  text-decoration: underline;
}

.contact-form input {
  background-color: #DDDDDD;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
  margin: 0.3rem auto;
  width: 95%;
  margin-left: 8px;
}
@media only screen and (min-width: 576px) {
  .contact-form input {
    width: 96%;
  }
}
@media only screen and (min-width: 768px) {
  .contact-form input {
    width: 96%;
  }
}
@media only screen and (min-width: 992px) {
  .contact-form input {
    width: 100%;
    margin-left: 0px;
  }
}
.contact-form input:focus {
  border: 1px solid #DDDDDD;
  outline: 0;
  background-color: white;
}

.fname {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .fname {
    width: 37% !important;
  }
}

.lname {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .lname {
    width: 58% !important;
    margin-left: 0 !important;
  }
}
@media only screen and (min-width: 992px) {
  .lname {
    width: 62.3% !important;
  }
}
@media only screen and (min-width: 1200px) {
  .lname {
    width: 62.2% !important;
  }
}
@media only screen and (min-width: 1600px) {
  .lname {
    width: 62.5% !important;
  }
}

.email {
  width: 80%;
}

.subject {
  width: 80%;
}

.message {
  width: 80%;
  height: 12rem !important;
  padding-bottom: 10.3rem;
}

.submit {
  background-color: white !important;
  color: black;
  border: 2px black solid !important;
  font-weight: 600;
  width: 130px !important;
  height: 40px;
}
.navbar {
  display: none;
}
@media only screen and (min-width: 768px) {
  .navbar {
    display: block;
    position: fixed;
    top: -55px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media only screen and (max-height: 600px) {
  .navbar {
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }
}

.hamburger {
  background-color: white;
  height: 42px;
  width: 40px;
  border: 1px #4CAF50 solid;
  border-radius: 4px;
  position: fixed;
  top: 0%;
}
@media only screen and (min-width: 576px) {
  .hamburger {
    top: 40%;
  }
}
@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

#menu-lines {
  padding: 5px 0 4px 3px;
}
@media only screen and (min-width: 768px) {
  #menu-lines {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 33px;
    margin: 10px auto 5px;
  }
}

.menu-line {
  width: 33px;
  height: 3px;
  background-color: #4CAF50;
  margin-bottom: 5px;
}

.hamburger-title {
  font-size: 10px;
  font-weight: 600;
  position: relative;
  top: -8px;
  left: 5px;
  color: #4CAF50;
}

.logo {
  font-size: 10rem;
  color: #4CAF50;
  border-bottom: 2px #4CAF50 solid;
  line-height: 188px;
  position: relative;
  top: 1rem;
  margin-bottom: 5rem;
  width: 160px;
}
@media only screen and (max-height: 600px) {
  .logo {
    margin-bottom: 0;
    margin-top: -44%;
  }
}

.logo a {
  color: #4CAF50;
  position: relative;
  left: 27px;
}

.navbar-items {
  font-weight: 600;
  line-height: 90px;
  padding-bottom: 2rem;
}

.navbar-items a {
  color: black;
}

.contact-me a {
  color: black;
  position: relative;
  left: -5px;
}

.about-me {
  border-bottom: 2px transparent solid;
  width: 5rem;
  padding-bottom: 1px;
  height: 60px;
}

.about-me:hover {
  border-bottom: 2px #4CAF50 solid;
}

.my-portfolio {
  border-bottom: 2px transparent solid;
  width: 6rem;
  padding-bottom: 1px;
  height: 60px;
}

.my-portfolio:hover {
  border-bottom: 2px #4CAF50 solid;
}

.coding-examples {
  border-bottom: 2px transparent solid;
  width: 8rem;
  padding-bottom: 1px;
  height: 60px;
}

.coding-examples:hover {
  border-bottom: 2px #4CAF50 solid;
}

.scs {
  border-bottom: 2px transparent solid;
  width: 6rem;
  padding-bottom: 1px;
  height: 60px;
}

.scs:hover {
  border-bottom: 2px #4CAF50 solid;
}

.contact-me {
  font-weight: 600;
  border-bottom: 2px #4CAF50 solid;
  border-top: 2px #4CAF50 solid;
  width: 160px;
  padding: 8px;
}

.social-links {
  display: flex;
  margin-top: 1rem;
}

.facebook,
.twitter,
.instagram,
.linkedin {
  color: #4CAF50;
  padding: 8px;
}

/*# sourceMappingURL=style.css.map */
