.hero-image {
  background-image: url(/Courses/Netmatters/front_end/Portfolio/images/ny.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 650px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
}

h1 {
  font-size: 60px;
}

.projects-container {
  border: 2px green solid;
  padding: 30px;
}
@media only screen and (min-width: 768px) {
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 76rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.project {
  width: auto;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #bbbbbb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .project {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 26rem;
  }
}
@media only screen and (min-width: 768px) {
  .project {
    max-width: 271px;
  }
}
@media only screen and (min-width: 1200px) {
  .project {
    max-width: 341px;
  }
}

.project-1 {
  border: 2px red solid;
}

.project-2 {
  border: 2px lightskyblue solid;
}

.img-container {
  border: 2px solid greenyellow;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .img-container {
    max-height: 19rem;
    margin-bottom: 0.8rem;
  }
}

.project-title {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  max-height: 300px;
  margin: 1rem;
}
@media only screen and (min-width: 768px) {
  .project-title {
    margin-left: 0.3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .project-title {
    margin-left: 1rem;
  }
}

.project-title, a {
  text-decoration: none;
}

.project-title:hover {
  text-decoration: underline;
  color: #6ec071;
}

.project-details {
  margin: 1rem;
  margin-bottom: -2rem;
  width: 7rem;
}
@media only screen and (min-width: 768px) {
  .project-details {
    margin-left: 0.3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .project-details {
    margin-left: 1rem;
  }
}

.project-details:hover {
  color: #4d4d4d;
}

.project-details a {
  color: black;
}

.photo-project {
  width: 100%;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .photo-project {
    width: 600px;
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .photo-project:hover {
    transform: scale(1.1);
    opacity: 0.7;
    transition: 0.4s;
  }
}

.more-info-btn {
  display: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  position: relative;
  top: -23px;
  float: right;
  margin-right: 1rem;
  border: none;
  padding: 10px 20px;
}
@media only screen and (min-width: 768px) {
  .more-info-btn {
    display: block;
    top: -5px;
    left: 0.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .more-info-btn {
    left: 0;
  }
}

.more-info-btn:hover {
  background-color: #3d8b40;
}

.more-info-btn:hover + .text-holder-1 {
  visibility: visible;
}

.more-info-btn:hover + .text-holder-2 {
  visibility: visible;
}

.more-info-btn:hover + .text-holder-3 {
  visibility: visible;
}

.more-info-btn:hover + .text-holder-4 {
  visibility: visible;
}

.more-info-btn:hover + .text-holder-5 {
  visibility: visible;
}

.more-info-btn:hover + .text-holder-6 {
  visibility: visible;
}

.text-holder-1 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}
@media only screen and (min-width: 768px) {
  .text-holder-1 {
    margin-left: 2rem;
    bottom: -55%;
    left: 10.5%;
  }
}
@media only screen and (min-width: 992px) {
  .text-holder-1 {
    left: 8%;
  }
}

.text-holder-2 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}
@media only screen and (min-width: 768px) {
  .text-holder-2 {
    margin-left: 2rem;
    bottom: -64%;
    left: 50.5%;
  }
}
@media only screen and (min-width: 992px) {
  .text-holder-2 {
    left: 36%;
  }
}

.text-holder-3 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}

.text-holder-4 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}

.text-holder-5 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}

.text-holder-6 {
  visibility: hidden;
  width: 235px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0 1rem;
  position: absolute;
  border: 2px #4CAF50 solid;
}

/*# sourceMappingURL=style.css.map */
